body{
    font-family: 'Poppins', sans-serif;
}
*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}


.wrapper{
	margin: 0 10px;
  margin-top: 70px;
}

.wrapper_inner{
	position: relative;
	max-width: 1250px;
	width: 100%;
	height: 800px;
	background: #fff;
	margin: 30px auto;
	border-radius: 25px;
	display: flex;
}

.vertical_wrap{
	position: relative;
	height: 100%;
}

.vertical_bar{
	width: 270px;
	background: #4e73df;
	height: 100%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	position: relative;
}

.vertical_bar .profile_info{
	text-align: center;
	padding: 50px 25px;
}

.vertical_bar .profile_info img{
	width: 140px;
  margin-top: 10px;
  border-radius: 50%;
}

.vertical_bar .profile_info .title{
	font-size: 20px;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 700;
}

.vertical_bar .profile_info .sub_title{
	font-size: 15px;
	color: rgb(196, 196, 196);
}

.vertical_bar .menu{
	padding-left: 25px;
  margin-top: 50px;
}

.vertical_bar .menu li a{
	display: block;
	padding: 25px;
	color: #fff;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	margin-bottom: 1px;
}

.vertical_bar .menu li a .icon{
	color: #000000;
	width: 25px;
    display: inline-block;
}

.vertical_bar .menu li a:hover,
.vertical_bar .menu li a.active{
	background: #fff;
	color: #4e73df;
}

.vertical_bar .social li a{
	width: 50px;
	height: 50px;
	color: #fff;
	border: 1px solid #fff;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	margin: 0 10px;
}
.main_container{
	width: calc(100% - 250px);
}

.main_container .top_bar{
	height: 60px;
	background: #4e73df;
	border-top-right-radius: 25px;
	padding: 15px 25px;
	display: flex;
	align-items: center;
}

.top_bar .hamburger{
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	display: none;
	margin-right: 25px;
}
.container .content a{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  border: 1px solid #4e73df;
  padding: 10px 0;
  border-radius: 25px;
  color: #fff;
  background-color: #4e73df;
  transition: all 0.3s ease-in-out;
}
.container .content a:hover{
  border: 1px solid #fd6666;
  background-color: #fd6666;
}
.top_bar .logo{
	font-size: 24px;
	font-weight: 700;

}

.top_bar .logo span{
	color: #fff;
}

/* .main_container .container{
	padding: 25px;
	height: calc(100% - 60px);
	overflow: auto;
} */

.main_container .container .item{
  border-radius: 20px;
	background: #e4e4e4;
	padding: 35px;
	margin: 65px 0px;
    color:rgb(141, 141, 141)
}
h3{
    color:  #111;
}



@media (max-width: 768px){
	.top_bar .hamburger{
		display: inline-block;
	}
	.vertical_wrap{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		visibility: hidden;
	}
	.vertical_bar{
		position: absolute;
		top: 0;
		left: -100%; 
		transition: left 0.2s linear;
	}
	.vertical_wrap .backdrop{
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 25px;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
	.main_container{
		width: 100%;
	}
	.main_container .top_bar{
		border-top-left-radius: 25px;
	}
	.wrapper.active .vertical_wrap{
		visibility: visible;
	}
	.wrapper.active .vertical_bar{
		left: 0;
		transition: left 0.2s linear;
	}
}










.form {
    /* margin-top: 50px; */
    border-radius: 20px;
    margin-left: 50px;
    width: 90%;
    position: relative;
    height: 60px;
    overflow: hidden;
  }
  .form input {
      padding-left: 20px;
      font-size: 14px;
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 20px;
    border: none;
    background-color: #4e73df;
    transition: all 0.3s ease;
  }
  .form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
  }
  .form label::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fce38a;
    transform: translateX(-100%);
    transition: all 0.8s ease;
  }
  
  .content-name {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 20px;
    padding-bottom: 3px;
    transition: all 0.3s ease;
  }
  .form input:focus {
    outline: none;
  }
  .form input:focus + .label-name .content-name,
  .form input:valid + .label-name .content-name {
    transform: translateY(-160%);
    font-size: 14px;
    left: 10px;
    color: #fce38a;
  }
  .form input:focus + .label-name::after,
  .form input:valid + .label-name::after {
    transform: translateX(0%);
  }
  
  
 
  
  
  
  
  
  
  
  .submit{
    margin-left: 100px;
   
  }
  .submit button {
    border: none;
    border-radius: 12px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #4e73df;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .submit button:hover {
    background: #4e73df;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #4e73df,
                0 0 15px #4e73df,
                0 0 20px #4e73df,
                0 0 25px #4e73df;
  }
  
  .submit button span {
    position: absolute;
    display: block;
  }
  
  .submit button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #4e73df);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .submit button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #4e73df);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .submit button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #4e73df);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .submit button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #4e73df);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }